# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Configurações locais
infraesctruture/configs/secrets.json

# Logs
*.log

# Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/