{
  "databases": {
    "warehouse": {
      "engine": "postgresql",
      "host": "",
      "port": 5432,
      "database": "warehouse",
      "user": "rique",
      "password": ""
    },
    "teste": {
      "engine": "postgresql",
      "host": "192.168.56.101",
      "port": 5432,
      "database": "teste",
      "user": "rique",
      "password": ""
    }
  },

  "repositories": {
    "nfes": {
      "engine": "filesystem",
      "share": "//srv-neo-app2/Neocorp",
      "path": "Imagens/NFentrada",
      "url": "file://srv-neo-app2/Neocorp/Imagens/NFentrada/",
      "user": "agromaza/henrique.angar",
      "password": ""
    }
  },
  "apis": {
  "openmeteo": {
    "engine": "rest",
    "base_url": "https://api.open-meteo.com",

    "authentication": {
      "type": "none",
      "parameters": {}
    },

    "configuration": {
      "timeout": 30,
      "verify_ssl": true,
      "headers": {
        "Accept": "application/json"
      }
    }
  }
}
}